@import 'jeet'
@import '../../../assets/stylesheets/colors'
@import 'nib'

.widget
  min-height 10rem
  margin 2rem
  padding 1rem
  column(1/3)
  background-color widgetBackground
  box-shadow 0 0 .3rem .1rem rgba(primaryBlack, .3)
